.container {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item {
  flex-shrink: 0;
  width: calc(33vw - 22px);
  height: 23vw;
  border-radius: 4px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}